header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: contents;
  }
  
  .header-container {
    width: 80%;
    margin: auto;
    display: block;
  }
  
  .btn {
    border-radius: 45%;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    padding: 10px;
    transition-duration: 0.4s;
  }
  
  .btn:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .title {
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
  }
  
  .title p {
    display: flex;
    margin: 6px;
    justify-content:space-between;
    padding: 10px 0;
    font-size: 20px;
  }
    
  .title form {
    display: flex;
    height: 40px;
    padding: 10px;
  }
    
  .input-area input[type="text"] {
    border: none;
    border-style: none;
    border-radius: 20%;
    padding: 0.5;
    text-shadow: none;
    text-align: start;
    word-wrap: break-word;
    outline: none;
    flex: 100%;
    padding-left: 14px;
  }
  
  
  .input-area {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
    color: transparent;
    flex: 90%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;
    margin-right: 10px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;;
  }
  
  .navbar {
    width: 100%;
    position: relative;
    background-color: #f2f2f2;
    overflow: hidden;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar .active {
    background-color: #333;
    color: white;
  }
  
  header nav {
    justify-content: left;
  }
  
  header nav ul>li {
    list-style: none;
    list-style-position: inside;
  }
  
  .content-container {
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
  }
  
  .news-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    float: left;
  }

  .news-content-container {
    width: 70%;
  }

  .news-content {
    margin-top: 50px;
    padding: 1rem 0;
    display: flow-root;
    background-color: #f2f2f2;
  }

  .new-container-img {
    float: right;
  }
  
  .news-container a {
    background-color: #333;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
  }

  .popular-container {
    color: #333;
    width: 24%;
    display: flex;
    justify-content: unset;
    flex-direction: column;
    padding: 3%;
    float: left;
  }

  .popular-container-content {
    display: flex;
    flex-direction: row;;
  }

  .popular-container h1 {
    color: #cccccc;
  }

  .populer-text {
    width: 70%;
    display: flexbox;
    color: #333;
    margin-left: 1rem;
  }

  .card-container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    float: left;
    background-color: #f2f2f2;
    padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

  
.categories-navlink {
  color: #333;
  text-decoration: none;
  width: min-content;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.categories-navlink h2 {
  display: flex;
  margin: 0;
}

.slick-prev,
.slick-next
{

    margin: 100px;

    color: #333;
    border: none;
    outline: #333;
}

  /* burdan slider başlangıcı */
  .container {
    display: flexbox;
    background-color: #333;
  }
  
  .slider-container {
    max-width: 800px;
    margin: 70px auto;
    position: relative;
  }
  
  .slide-frame {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  
  .slide-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
  }
  /* slider bitişi */


  /* about başlangıç */
  .cv-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10vh;
    background-color: #f2f2f2;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  
  .cv-img {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    border: 10px;
  }
  
  .cv-img img {
    display: flex;
    border-radius: 50%;
  }
  
  .cv-container-box1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .cv-container-box2 {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .cv-nav {
    text-align: start;
    --item-size: 22px;
    --item-margin: 0 12px 0 0;
    --item-display: inline-block;
    width: 158px;
    height: 22px;
    position: relative;
    margin: 0px 0px 10px calc((100% - 490px) * 0.5);
    left: 166px;
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start;
    align-self: start;
  }
  
  .cv-nav ul {
    list-style: none;
    height: 100%;
    position: absolute;
    white-space: nowrap;
    width: 100%;
  }
  
  .cv-nav ul>li {
    display: var(--item-display);
    height: var(--item-size);
    margin: var(--item-margin);
    width: var(--item-size); 
  }
  
  .cv-about {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }
  
  .about-text {
    text-align: center;
  }
  
  .cv-about ul {
    list-style: none;
  }
  
  .cv-about ul>li {
    margin-top: 10px;
  }
  
  .cv-about a {
    color: #333;
    text-align: center;
    text-decoration: underline;
  }